*{
  margin: 0;
  padding: 0;
}

canvas{
  display: block;
  margin:0;
  background-color: brown;
  left: 0px;
  top: 0px;
  border: 100px;
  border-color: black;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  position: absolute;
}
