*{
  margin: 0;
  padding: 0;
}

#background-layer{
  z-index: 1;
  display: block;
  margin:0;
  background-image: url("imgs/river.png");  /*change this to the background image*/
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
#game-layerR{
  z-index: 2;
  margin:0;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
#game-layerB{
  z-index: 3;
  margin:0;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
#game-layerY{
  z-index: 4;
  margin:0;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
#game-layerF{
  z-index: 5;
  margin:0;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
#game-layerU{
  z-index: 6;
  margin:0;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
#scoreTag{
  size = 30px;
  z-index: 7;
  position:absolute;
  font-family: 'VT323', monospace;
  left: 5%;
  top: 90%
}
