*{
  margin: 0px;
  padding: 0px;
}

body {
  text-align: center;
  font-family: 'VT323', monospace;
}

h1{
  font-size: 70px;
  color: red;
}

a{
  display: block;
  text-decoration: none;
  font-size: 30px;
  background-color: black;
  color: white;
  /* width: fit-content; */
}

a:hover, a:active{
  background-color: white;
  color: black;
  border-color: black;

}


.button{
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-style: solid;
  border-radius: 1em;
  width: 170px;
}

.result{
  padding: 30px;
  margin-bottom: 20px;
  margin-top: 140px;
}

#buttons{
  display: flex;
  justify-content: space-evenly;
}

#homeButton{
  margin-left: auto;
  margin-right: auto;
}
