
h1 {
  font-size: 50px;
  font-family: 'VT323', monospace;
}
body {
  font-size: 50px;
  font-family: 'VT323', monospace;
  background-image: url("imgs/StartPageImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-color: #3b5a5b
}
