<!DOCTYPE html>
<html>

  <head>
    <title>Fishing Village - Story</title>]

    <link rel="stylesheet" href="static/backstory.css"/>
  </head>

  <body>
    <h1>Backstory</h1>
      <p>Will there be enough fish to feed the world in 2050? Overfishing has been a problem for hundreds of years and you have the power to help fix it.</p>

    <h1>Instructions</h1>
      <p>Click and drag the fisherman from the bottom-right menu</p>
      <p>Fish but do not over do it...</p>

    <script src="static/backstory.js"></script>
  </body>

</html>
