<!DOCTYPE html>
<html>

  <head>
    <title>Fishing Village - Preface</title>

    <link rel="stylesheet" href="static/backstory.css"/>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"/>
  </head>

  <body>
    <div id="backstory">
      <h1>Backstory</h1>
        <p>Will there be enough fish to feed the world in 2050? <br>
          Overfishing has been a problem for hundreds of years and you have the power to help fix it.</p>
    </div>

    <div id="instructions">
      <h1>Instructions</h1>
        <p>Click and drag the fisherman from the bottom-right menu</p>
        <p>Fish but do not over do it...</p>
    </div>

    <a href="/game">Continue ></a>

    <script src="static/backstory.js"></script>
  </body>

</html>
