<!DOCTYPE html>
<html>
<embed name="" src="/static/fisherman_music.mp3" loop="true" hidden="true" autostart="true">
  <head>
    <title>Fishing Village</title>
    <link rel="stylesheet" href="static/gamePage.css"/>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  </head>
  </head>

  <body>
    <div id="heading" class="noSelectText">
      <p id="nickname" >Welcome {{nickname}}</p>
      <p id="currentLevel" ></p>
    </div>

    <div class="flexBoxVertical" id="controls">
      <div class="flexBoxHorizontal" id="row1">
        <div id="scoreBoard" name = "scoreBoard" class="noSelectText" method = "post">
          <p id="scoreTag" name = "scoreTag" class="noSelectText"></p>
          <p id="populationTag" name = "populationTag" class="noSelectText"></p>
          <p id="availableFishersTag" name = "availableFishersTag" class="noSelectText"></p>
        </div>

        <form id = "addFisherToAppEngine" method="post">
          <div hidden id = "fisherX" name = "fisherX" value = ""></div>
          <div hidden id = "fisherY" name = "fisherY" value = ""></div>
          <div hidden id = "levels" name = "levels" value = ""></div>
        </form>

        <form id = "endGame" action="/results.html">
          <div name = "winOrLose" value = ""></div>
        </form>

      <div class="flexBoxHorizontal" id="generateFisher">
        <img class="trim" class="noSelectImage" id="fisherImg" src="/static/imgs/fisher_icon.png"/>
        <div id="fisherInfo" class="noSelectText">
          <h2>Level 1 Fisherman<h2>
          <p> Uses fishing rod to catch fish</p>
        </div>
      </div>
      </div>

      <div class="flexBoxHorizontal" id="buttons">
        <div id="startButton" class="button" class="noSelectText">START</div>
        <div id="stopButton" class="button" class="noSelectText">STOP FISHING</div>
        <a href="/" id="exitButton" class="button" class="noSelectText">EXIT</a>
      </div>
    </div>
    <div hidden id="levelData">{{levelData}}</div>
    <!-- <canvas id="ui-layer" width="1440" height="900"></canvas> -->

    <div id="instructions" class="noSelectImage" class="noSelectText">
      <h1>Instructions</h1>
      <ul>
        <li>click, drag, and drop fishers to catch fish</li>
        <li>score = # village population can be fed</li>
      </ul>
      <div id="allFish">
        <div id="redFishGroup">
          <div id="fishImg" class="trim" class="noSelectImage"><img src="/static/imgs/red_fish_right.png"></div>
          <div class="fishInfo" class="noSelectText"><p>score = 1<br>catch attempt = 1</p></div>
        </div>
        <div id="blueFishGroup">
          <div id="fishImg" class="trim" class="noSelectImage"><img src="/static/imgs/blue_fish_right.png"></div>
          <div class="fishInfo" class="noSelectText"><p>score = 2<br>catch attempts = 2 </p></div>
        </div>
        <div id="yellowFishGroup">
          <div id="fishImg" class="trim" class="noSelectImage"><img src="/static/imgs/yellow_fish_right.png"></div>
          <div class="fishInfo" class="noSelectText"><p>score = 3<br>catch attempts = 3 </p></div>
        </div>
      </div>
      <ul>
        <li>OVERFISH<br>-> village pop. increases + fish pop. decreases</li>
        <li>UNDERFISH<br>-> village pop. decreases + fish pop. increases</li>
        <li>click <!--replace the word "STOP" with an image of the stop button-->"STOP" to end level</li>
      </ul>
    </div>

    <canvas id="game-layerU" width="1440" height="900"></canvas>
    <canvas id="game-layerF" width="1440" height="900"></canvas>
    <canvas id="game-layerY" width="1440" height="900"></canvas>
    <canvas id="game-layerB" width="1440" height="900"></canvas>
    <canvas id="game-layerR" width="1440" height="900"></canvas>
    <canvas id="background-layer" width="1440" height="900"></canvas>
    <script src="static/fish.js"></script>
    <script src="static/fisher.js"></script>
    <script src="static/GP2.js"></script>

    <!-- <script src="static/gamePage.js"></script> -->

  </body>

</html>
