<!DOCTYPE html>
<html>

  <head>
    <title>Fishing Village</title>
    <link rel="stylesheet" href="static/gamePage.css"/>
  </head>

  <body>
    <!-- <canvas id="ui-layer" width="500" height="500"></canvas> -->
    <canvas id="game-layer" width="500" height="500"></canvas>
    <!-- <canvas id="background-layer" width="500" height="500"></canvas> -->
    <script src="static/fish.js"></script>
    <!-- <script src="static/GP2.js"></script> -->
    <script src="static/gamePage.js"></script>

  </body>

</html>
