<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    body, html {height: 100%}
    .bgimg {
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
    </style>
    <body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-topleft w3-padding-large w3-xlarge">
        By: Daniel, Annie and Anas
      </div>
      <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">Title</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center">Subtitle</p>
      </div>

    </div>

    </body>
    </html>
    <title>Title of the game - Welcome</title>
    <link rel="stylesheet" href="static/welcomePage.css"/>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">


  </head>

  <body>

    <script src="static/welcomePage.js"></script>
  </body>

</html>
