<!DOCTYPE html>
<html>
  <head>
    <title>Fishing Village - Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="static/welcomePage.css"/>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  </head>
  <body>

    <!-- <div class="bgimg w3-display-container w3-animate-opacity w3-text-white"> -->

    {%if user %}
      <p>Welcome {{nickname}}</p>
    {%endif%}

    <div id = "title" class="w3-display-middle">

      <h1 class="w3-jumbo w3-animate-top">Fishing Village</h1>
      <hr class="w3-border-white" style="margin:auto;width:50%">
      <h2 class="w3-extralarge w3-center">An Interactive Look Into Overfishing</h2>

      <div id="groupOfButtons">
        {%if user %}
          <form method="post">
            <a id="startButton" class="button" href="/backstory">Start</a>
          </form>
          <a id="signInButton" class="button" href="{{logout_url}}">Sign Out</a>
        {%else%}
          <a id="logInButton" class="button" href="{{login_url}}">Log In</a>
        {%endif%}
      </div>

    </div>






    <div id="contribution">
      <p>By: Daniel, Annie, and Anas<p>
    </div>

    <script src="static/welcomePage.js"></script>
  </body>
</html>
