<!DOCTYPE html>
<html>
  <title>Title of the game - Welcome</title>
  <head>
    <title>Title of the game - Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <script src="static/welcomePage.js"></script>
    <link rel="stylesheet" href="static/welcomePage.css"/>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-bottomright w3-padding-1px w3-xlarge">
        By: Daniel, Annie, and Anas
      </div>
      <div id = "title" class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">Fishing Village</h1>
        <hr class="w3-border-grey" style="margin:auto;width:50%">

        <h2 class="w3-extralarge w3-center">Subtitle</h2>
      </div>
      <button type="button" method="post">Start</button>
  </body>
</html>
